.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.315);
    z-index: 1000;
    display: none;
    justify-content: center;
    align-items: center;
}

.isVisible {
    display: flex;
}

.editform {
    width: 400px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}