<div class="modal-window" [ngClass]="{'isVisible': isVisible}">
    <form class="editform">
        <div class="form-group">
            <label for="exampleInputEmail1">Имя</label>
            <input 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Введите новое имя"
            [(ngModel)]="name"
            required
            [ngModelOptions]="{ standalone: true }">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Фамилия</label>
            <input  
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Введите новую фамилию"
            [(ngModel)]="surname"
            required
            [ngModelOptions]="{ standalone: true }">
        </div>
        <button class="btn btn-secondary" (click)="onEditWorker()">Закрыть и сохранить</button>
    </form>
</div>