<div class="modal-window" [ngClass]="{'isVisible': isVisible}">
    <form class="editform" [formGroup]="editform">
        <div class="form-group">
            <label for="exampleInputEmail1">Имя</label>
            <input 
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Введите новое имя (без пробелов)"
            [(ngModel)]="name"
            formControlName="firstName">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Фамилия</label>
            <input  
            type="email" 
            class="form-control" 
            id="exampleInputEmail1" 
            aria-describedby="emailHelp" 
            placeholder="Введите новую фамилию (без пробелов)"
            [(ngModel)]="surname"
            formControlName="lastName">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Телефон</label>
            <input  
            type="text" 
            class="form-control" 
            id="exampleInputEmail1"
            placeholder="Номер телефона"
            [(ngModel)]="phone"
            formControlName="phone"
            [textMask]="{mask: phonemask}">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Должность</label>
            <select class="custom-select" [(ngModel)]="type" formControlName="type">
                <option [ngValue]="myWorkerType.programmer">Программист</option>
                <option [ngValue]="myWorkerType.designer">Дизайнер</option>
                <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
                <option [ngValue]="myWorkerType.manager">Менеджер</option>
              </select>
        </div>
        <button [disabled]="!editform.valid" class="btn btn-secondary" (click)="onEditWorker()">Закрыть и сохранить</button>
    </form>
</div>