<div class="container">
  <div class="row mb-3">
    <div class="col-12">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <app-editform [isVisible]='editformStatus' (saveWorker)="onEdditListener($event)"></app-editform>
  <app-addform-worker (addWorker)="onAddWorker($event)"></app-addform-worker>
  <app-table-workers
    [title]="'Программисты'"
    [workers]="getByType(myWorkerType.programmer)"
    (deleteWorker)="onDeleteById($event)"
    (editWorker) = "onEdditListener($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Дизайнеры'"
    [workers]="getByType(myWorkerType.designer)"
    (deleteWorker)="onDeleteById($event)"
    (editWorker) = "onEdditListener($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Рекламщики'"
    [workers]="getByType(myWorkerType.copywriter)"
    (deleteWorker)="onDeleteById($event)"
    (editWorker) = "onEdditListener($event)"
  ></app-table-workers>
  <app-table-workers
    [title]="'Менеджеры'"
    [workers]="getByType(myWorkerType.manager)"
    (deleteWorker)="onDeleteById($event)"
    (editWorker) = "onEdditListener($event)"
  ></app-table-workers>
</div>
