<div>
  <form [formGroup]="addform" class="row mb-3">
    <div class="col-12">
      <h5>Добавить сотрудника</h5>
    </div>
    <div class="col-4">
      <input
        type="text"
        class="form-control"
        placeholder="Имя"
        [(ngModel)]="name"
        formControlName="firstName"
      />
    </div>
    <div class="col-4">
      <input
        type="text"
        class="form-control"
        placeholder="Фамилия"
        [(ngModel)]="surname"
        formControlName="lastName"
      />
    </div>
    <div class="col-4">
      <input
        type="text"
        class="form-control"
        placeholder="Номер телефона"
        [(ngModel)]="phone"
        formControlName="phone"
        [textMask]="{mask: phonemask}"
      />
    </div>
    <div class="col-4 mt-3  ">
      <select class="custom-select" [(ngModel)]="type" formControlName="type">
        <option [ngValue]="myWorkerType.programmer">Программист</option>
        <option [ngValue]="myWorkerType.designer">Дизайнер</option>
        <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
        <option [ngValue]="myWorkerType.manager">Менеджер</option>
      </select>
  </div>
  <div class="col-12 mt-1">
    <button class="btn btn-outline-primary btn-sm mt-2" [disabled]="!addform.valid" (click)="onAddWorker()">Добавить</button>
  </div>
  </form>
</div>